/* Global styles for rich text content rendered in the application */

/* Rich text title styles */
.rendered-title h1,
.rendered-title p,
.rendered-title strong,
.rendered-title em {
    font-size: 2rem !important;
    font-weight: bold !important;
    line-height: 1.2 !important;
    margin: 0 !important;
}

/* Rich text subtitle styles */
.rendered-subtitle h2,
.rendered-subtitle p,
.rendered-subtitle strong,
.rendered-subtitle em {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    line-height: 1.3 !important;
    margin: 0 !important;
}

/* Rich text content styles */
.rendered-text p {
    margin-bottom: 1em;
}

.rendered-text strong {
    font-weight: bold;
}

.rendered-text em {
    font-style: italic;
}

.rendered-text u {
    text-decoration: underline;
}

.rendered-text h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.rendered-text h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

.rendered-text h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

.rendered-text h4 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}

.rendered-text h5 {
    font-size: 0.83em;
    font-weight: bold;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}

.rendered-text h6 {
    font-size: 0.67em;
    font-weight: bold;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}

.rendered-text ul,
.rendered-text ol {
    padding-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.rendered-text ul {
    list-style-type: disc;
}

.rendered-text ol {
    list-style-type: decimal;
}

.rendered-text li {
    margin-bottom: 0.5em;
}

.rendered-text blockquote {
    border-left: 4px solid #1890ff;
    padding-left: 1em;
    margin-left: 0;
    margin-right: 0;
    color: #666;
    font-style: italic;
}

.rendered-text pre {
    background-color: #f5f5f5;
    padding: 1em;
    border-radius: 4px;
    overflow-x: auto;
    border: 1px solid #e8e8e8;
}

.rendered-text code {
    background-color: #f5f5f5;
    padding: 2px 6px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
}

.rendered-text img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
    border-radius: 4px;
}

.rendered-text a {
    color: #1890ff;
    text-decoration: none;
}

.rendered-text a:hover {
    text-decoration: underline;
}

/* Alignment classes */
.rendered-text .ql-align-left {
    text-align: left;
}

.rendered-text .ql-align-center {
    text-align: center;
}

.rendered-text .ql-align-right {
    text-align: right;
}

.rendered-text .ql-align-justify {
    text-align: justify;
}

/* Font sizes from Quill */
.rendered-text .ql-size-small {
    font-size: 0.75em;
}

.rendered-text .ql-size-large {
    font-size: 1.5em;
}

.rendered-text .ql-size-huge {
    font-size: 2.5em;
}

/* Indent classes */
.rendered-text .ql-indent-1 {
    padding-left: 3em;
}

.rendered-text .ql-indent-2 {
    padding-left: 6em;
}

.rendered-text .ql-indent-3 {
    padding-left: 9em;
}

.rendered-text .ql-indent-4 {
    padding-left: 12em;
}

.rendered-text .ql-indent-5 {
    padding-left: 15em;
}

.rendered-text .ql-indent-6 {
    padding-left: 18em;
}

.rendered-text .ql-indent-7 {
    padding-left: 21em;
}

.rendered-text .ql-indent-8 {
    padding-left: 24em;
}

/* Video embeds */
.rendered-text .ql-video {
    width: 100%;
    height: 400px;
}